@use '../../style/colors';
@use '../../style/fonts';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  background-color: colors.$neon-blue;
  padding: 1.5rem;
  &-link {
    text-decoration: none;
    color: colors.$star-white;
    font-family: fonts.$heading-text;
    font-size: 1.5rem;
  }
}