@use '../../style/colors';
@use '../../style/fonts';

.mobile-nav {
  display: flex;
}

.header {
  background-color: colors.$neon-blue;
  padding: 24px;
  position: relative;
  display: flex;
  &-nav {
    position: fixed;
    top: 84px;         
    right: 0;         
    height: 100%;      
    width: 100%;
    margin: 0 auto;        
    background-color: colors.$star-white; 
    transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
    z-index: 2;
  }
  &-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 24px;
    & > li {
      width: 100%;
      border-bottom: 1px solid colors.$moon-grey;
      display: flex;
      text-align: center;
    }
  }
  &-link {
    text-decoration: none;
    color: colors.$deep-blue;
    font-family: fonts.$normal-text;
    font-size: 1.5rem;
    position: relative;
    width: 100%;
    padding: 16px;
    &:hover {
      background-color: colors.$moon-grey;
    }
  }
}

.isOpen {
  transform: translateY(0);
}

@media screen and (min-width: 600px) {
  .mobile-nav {
    display: none;
  }

  .header {
    &-nav {
      position: static;
      background-color: transparent;
      transform: translateY(0);
    }
    &-links {
      flex-direction: row;
      align-items: center;
      justify-content: space-around; // change to space-between
      padding: 0;
      list-style: none;
      margin: 0;
      & > li {
        border: none;
        width: auto;
      }
    }
    &-link {
      color: colors.$star-white;
      padding: 0 0 5px 0;
      &::after {    
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: colors.$moon-grey;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }
      &:hover {
        background-color: transparent;
      }
      &:hover::after { 
        width: 100%; 
        left: 0; 
      }
    }
  }
}

