@use "../../style/colors";
@use "../../style/fonts";

.about-section__contain {
  display: flex;
  align-items: center;
  gap: 36px;
  height: 40vh;
  padding: 24px 48px;
  view-timeline: --section;
  position: relative;

  &:nth-child(1) {
    background-color: #d4e3d2;
    z-index: 2;
  }
  &:nth-child(2) {
    background-color: #efcbc5;
    z-index: 1;
  }
  // &:nth-child(3) {
  //   background-color: #ebe1c6;
  //   z-index: 2;
  // }
  // &:nth-child(4) {
  //   background-color: #cbd0e2;
  //   z-index: 1;
  // }

  --img-width: 35vmax;
  --img-height: calc(var(--img-width) * 3 / 4);
}

.about-section__img-box {
  position: fixed;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 48px;
  width: var(--img-width);
  height: var(--img-height);
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: wipe linear both;
  animation-timeline: --section;

  --gap: calc((100% - var(--img-height)) / 2);
  animation-range: exit var(--gap) exit calc(100% - var(--gap));
}

.about-section__content {
  padding-left: 10%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.about-section__title {
  font-size: 1.8em;
  font-weight: bold;
}

.about-section__desc {
  line-height: 1.7;
  text-wrap: balance;
}

@keyframes wipe {
  0% {
    clip-path: inset(0 0 0 0);
  }
  100% {
    clip-path: inset(0 0 100% 0);
  }
}
