@use '../../style/colors';
@use '../../style/fonts';

.intro {
  &-contain {
    padding-bottom: 48px;
    text-align: center;
  }
  &-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  &-title {
    font-size: 4rem;
    font-family: fonts.$title-text;
    padding-bottom: 24px;
  }
  &-title > span {
    display: block;
  }
  &-title > span:nth-child(1) {
    color: colors.$deep-blue;
  }
  &-title > span:nth-child(2) {
    color: colors.$deep-purple;
  }
  &-title > span:nth-child(3) {
    color: colors.$bright-magenta;
  }
  &-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    & > p {
      font-family: fonts.$normal-text;
      font-size: 1.3rem;
    }
  }
  &-img {
    max-width: 400px;
    & > img {
      width: 100%;
      border-radius: 24px;
    }
  }
  &-link {
    font-family: fonts.$normal-text;
    color: colors.$star-white;
    background-color: colors.$neon-blue;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 16px;
    width: 300px;
    border-radius: 12px;
  }
}

@media screen and (min-width: 600px) {
  .intro {
    &-content {
      flex-direction: row;
      justify-content: space-around;
    }
    &-title {
      padding-bottom: 48px;
    }
    &-title > span {
      display: inline-block;
      padding: 0 12px;
    }
    &-side:nth-child(2) {
      flex: 0 1 50%;
      justify-content: center;
    }
  }
}