@use '../../style/colors';
@use '../../style/fonts';

.footer {
  display: flex;
  flex-direction: column;
  background-color: colors.$space-blue;
  padding: 36px;
  color: colors.$star-white;
  font-family: fonts.$normal-text;
  gap: 2rem;
  &-section {
    display: flex;
    border-bottom: 1px colors.$dark-grey solid;
    flex-direction: column;
    text-align: center;
    align-items: center;
    & p {
      padding-bottom: 36px;
      max-width: 400px;
    }
  }
  &-links {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    margin: 0;
    & > ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      & > li {
        text-align: center;
      }
    }
  }
  &-link {
    text-decoration: none;
    color: colors.$star-white;
    position: relative;
    padding-bottom: 5px;
    &:after {    
      bottom: 0;
      content: "";
      display: block;
      height: 2px;
      left: 50%;
      position: absolute;
      background: colors.$bright-magenta;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
    }
    &:hover:after { 
      width: 100%; 
      left: 0; 
    }
  }
}

@media screen and (min-width: 600px) {
  .footer {
    flex-direction: row;
    gap: 0;
    padding: 36px 0;
    &-section {
      padding: 0 36px;
      flex: 0 1 50%;
      justify-content: space-between;
      border-right: 1px colors.$dark-grey solid;
      border-bottom: 0;
      & p {
        padding-bottom: 0;
        max-width: 500px;
      }
    }
    &-links {
      flex: 0 1 50%;
    }
  }
}