@use '../../style/colors';
@use '../../style/fonts';
@use 'sass:math';
@use 'sass:string';

@function multiple-box-shadow($n, $hex) {
  $value: '#{math.random(2000)}px #{math.random(2000)}px #{$hex}';
  @for $i from 2 through $n {
    $value: '#{$value} , #{math.random(2000)}px #{math.random(2000)}px #{$hex}';
  }
  @return string.unquote($value);
}

$shadows-small: multiple-box-shadow(700, colors.$star-white);
$shadows-medium: multiple-box-shadow(200, colors.$star-white);
$shadows-big: multiple-box-shadow(100, colors.$star-white);

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }	
}

@keyframes shootingStar {
    0% {
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        transform: rotate(315deg) translateX(-1500px);
        opacity: 0;
    }  
}

.starfield {
  height: 80vh;
  background: radial-gradient(ellipse at bottom, colors.$space-blue 0%, colors.$space-black 100%);
  overflow: hidden;
  position: relative;
  border-radius: 12px;
  &-contain {
    padding: 24px;
  }
  &__stars {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-small;
    animation: animStar 100s linear infinite;
    &:after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 2px;
      height: 2px;
      background: transparent;
      box-shadow: $shadows-small;
    }
  }
  &__stars2 {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: transparent;
    box-shadow: $shadows-medium;
    animation: animStar 200s linear infinite;
    &:after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background: transparent;
      box-shadow: $shadows-medium;
    }
  }
  &__stars3 {
    width: 4px;
    height: 4px;
    background: transparent;
    border-radius: 50%;
    box-shadow: $shadows-big;
    animation: animStar 300s linear infinite;
    &:after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background: transparent;
      box-shadow: $shadows-big;
    }
  }
  &__shoot {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1), 0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 1)  ;
    animation: shootingStar 2s ease-in-out;
  }
  &__shoot::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg, #fff, transparent);
  }
  &__shoot:nth-child(1) {
    top: -20px;
    right: 300px;
    left: initial;
    animation-delay: 1.8s;
  }
  // &__shoot:nth-child(2) {
  //   top: -20px;
  //   right: 240px;
  //   left: initial;
  //   animation-delay: 26.8s;
    // animation-duration: 1.3s;
  // }
  // &__shoot:nth-child(3) {
  //   top: -20px;
  //   right: 600px;
  //   left: initial;
  //   animation-delay: 1.4s;
    // animation-duration: 1.8s;
  // }
}
    

    




