@use '../../style/colors';
@use '../../style/fonts';

.intro-home {
  &__contain {
    padding: 48px 24px;
    display: flex; 
    height: 100%; 
    width: 100%; 
    align-items: center; 
    justify-content: center;
  }
  &__content {
    display: grid; 
    height: 100%; 
    width: 100%; 
    grid-template-columns: repeat(1, 1fr); 
    grid-template-rows: repeat(1, 1fr); 
    gap: 24px; 
  }
  &__bento {
    border: 1px solid colors.$med-grey;
    border-radius: 12px;
    grid-column: span 1; 
    grid-row: span 1;
  }
  &__bento:nth-child(1) {
    width: 100%;
    height: 80vh;
    background-image: url('../../assets/amanda-talk2.jpg');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    overflow: hidden;
  }
  &__bento:nth-child(2) {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    & > p {
      font-family: fonts.$normal-text;
      font-size: 1.3rem;
      text-align: center;
    }
  }
  &__bento:nth-child(3) {
    display: flex;
    width: 100%;
    background-color: colors.$neon-blue;
    align-items: center;
    & > a {
      font-family: fonts.$normal-text;
      color: colors.$star-white;
      font-size: 1.5rem;
      padding: 16px;
      width: 100%;
      height: 100%;
      border-radius: 12px;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      & > span {
        position: relative;
        padding: 5px 0;
        &:after {    
          bottom: 0;
          content: "";
          display: block;
          height: 2px;
          left: 50%;
          position: absolute;
          background: colors.$star-white;
          transition: width 0.3s ease 0s, left 0.3s ease 0s;
          width: 0;
        }
      }
      &:hover > span:after {
        width: 100%; 
        left: 0; 
      }
    }
  }
  &__bento:nth-child(4), &__bento:nth-child(5) {
    display: none;
  }
}

@media screen and (min-width: 960px) {
  .intro-home {
    &__contain {
      padding: 72px 24px;
    }
    &__content {
      grid-template-columns: repeat(4, 1fr); 
      grid-template-rows: repeat(4, 1fr);  
    }
    &__bento:nth-child(1) {
      grid-column: span 2; 
      grid-row: span 4;
      height: 100%;
    }
    &__bento:nth-child(2) {
      grid-column: span 2; 
      grid-row: span 2;
    }
    &__bento:nth-child(3) {
      grid-column: span 1; 
      grid-row: span 1;
    }
    &__bento:nth-child(4) {
      grid-column: span 1; 
      grid-row: span 2;
      display: flex;
      width: 100%;
      height: 100%;
      background-image: url('../../assets/intro-amanda.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      overflow: hidden;
    }
    &__bento:nth-child(5) {
      grid-column: span 1; 
      grid-row: span 1;
      display: flex;
      width: 100%;
      height: 100%;
    }
  }
}

