@use './colors.scss';

* {
  box-sizing: border-box;
  margin: 0 auto;
}

html {
  font-size: 16px; // used to calculate rem and em
}

body {
  background-color: colors.$star-white;
  padding: 0 16px;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.polka-dot {
  margin: 0;
  padding: 0;
  background-color: colors.$star-white;
  background-image: 
      radial-gradient(circle, colors.$med-grey 2.5px, transparent 2.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: 
        radial-gradient(circle, colors.$med-grey 2.5px, transparent 2.5px);
    background-size: 20px 20px;
    background-position: 10px 10px;
  }
}

.app-contain {
  max-width: 1400px;
  border-left: 1px solid colors.$med-grey;
  border-right: 1px solid colors.$med-grey;
}


@media screen and (min-width: 600px) {
  body {
    margin: 0 auto;
    background-color: colors.$star-white;
    padding: 0 36px;
  }
}





    

