html,
body {
  box-sizing: border-box;
  margin: 0;
  font-size: 16px; // used to calculate rem and em
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

// Home route styling
.home {
  &-content {
    padding: 200px;
  }
}

    

