@use './colors.scss';

* {
  box-sizing: border-box;
}

html {
  margin: 0 auto;
  font-size: 16px; // used to calculate rem and em
  max-width: 1400px;
  background-color: colors.$space-black;
}

body {
  margin: 0 auto;
  background-color: colors.$star-white;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

// Home route styling
.home {
  &-contain {
    padding: 48px;
  }
}

    

