$neon-blue: #039595;
$bright-coral: #FF6B8B;
$deep-bluegrey: #2A6F97;
$bright-violet: #9D4EDD;
$space-black: #090A0F;
$space-blue: #1B2735;
$star-white: #FFFFFF;
// $dark-grey: #B1B7C1;
$dark-grey: #A0AEC0;
$med-grey: #D1DCD9;
$pale-grey: #F0F0F0;