$neon-blue: #039595;
$bright-magenta: #C43F75;
$deep-blue: #3245DF;
$deep-purple: #6E2F77;
$space-black: #090A0F;
$space-blue: #1B2735;
$star-white: #FFFFFF;
$dark-grey: #B1B7C1;
$med-grey: #D1DCD9;
$pale-grey: #F0F0F0;