$neon-blue: #039595;
$bright-coral: #ff6b8b;
$deep-bluegrey: #2a6f97;
$bright-violet: #9d4edd;
$space-black: #090a0f;
$space-blue: #1b2735;
$star-white: #ffffff;
$dark-grey: #a0aec0;
$med-grey: #d1dcd9;
$pale-grey: #f0f0f0;
