@use '../../style/colors';
@use '../../style/fonts';


@keyframes pulse {
  0% { box-shadow: 0 0 0 0 colors.$neon-blue };
}

.skills {
  &-contain {
    background-color: colors.$pale-grey;
    & > h3 {
      color: colors.$space-blue;
      font-family: fonts.$normal-text;
      font-size: 2rem;
      text-align: center;
      padding-top: 24px;
    }
  }
  &-scroll {
    display: flex;
    gap: 2rem 3rem;
    &__contain {
      display: flex;
      align-items: center;
      overflow: hidden;
      height: 92px;
    }
  }
  &-pill {
    background-color: colors.$deep-purple;
    color: colors.$star-white;
    border-radius: 24px;
    padding: 12px;
    text-align: center;
    font-family: fonts.$normal-text;
    font-weight: 600;
    display: flex;
    gap: .5rem;
    &:hover {
      animation: pulse 1s;
      box-shadow: 0 0 0 2em transparent;
    }
  }
  &-icon {
    font-size: 20px;
    color: colors.$star-white;
  }
}

