@use '../../style/colors';
@use '../../style/fonts';


@keyframes pulse {
  0% { box-shadow: 0 0 0 0 colors.$neon-blue };
}

.skills {
  &-contain {
    height: 160px;
    background-color: colors.$pale-grey;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  &-scroll {
    display: flex;
    gap: 2rem 3rem;
  }
  &-pill {
    background-color: colors.$deep-purple;
    color: colors.$star-white;
    border-radius: 24px;
    padding: 12px;
    text-align: center;
    font-family: fonts.$normal-text;
    font-weight: 600;
    display: flex;
    gap: .5rem;
    &:hover {
      animation: pulse 1s;
      box-shadow: 0 0 0 2em transparent;
    }
  }
  &-icon {
    font-size: 20px;
    color: colors.$star-white;
  }
}

