@use '../../style/colors';
@use '../../style/fonts';

.intro-title__desktop {
  display: none;
}

.intro-title {
  &__mobile {
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  &__text {
    font-size: clamp(2rem, 6vw, 4rem);
    font-family: fonts.$title-text;
    text-align: center;
    color: colors.$space-blue;
    transition: color 0.5s ease 0s;
  }
  &__text:hover:nth-child(1) {
    color: colors.$deep-blue;
  }
  &__text:hover:nth-child(2) {
    color: colors.$deep-purple;
  }
  &__text:hover:nth-child(3) {
    color: colors.$bright-magenta;
  }
}

@media screen and (min-width: 720px) {
  .intro-title__mobile {
    display: none;
  } 

  .intro-title {
    &__desktop {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 3rem;
      padding: 48px 0;
    }
  }
}