@use '../../style/colors';
@use '../../style/fonts';

.socials-home__bento > a {
  font-family: fonts.$normal-text;
  color: colors.$star-white;
  font-size: 1.5rem;
  padding: 16px;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  & > div {
    position: relative;
    display: flex;
    padding: 5px 0;
    &:after {    
      bottom: 0;
      content: "";
      display: block;
      height: 2px;
      left: 50%;
      position: absolute;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
    }
    & > span:nth-child(1) {
      padding-right: 8px;
    }
  }
  &:hover > div:after {
    width: 100%; 
    left: 0; 
  }
}