@use '../../style/colors';
@use '../../style/fonts';

.starfield {
  &__title {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    text-align: center;
    & > h1 {
      letter-spacing: 4px;
      margin: 0;
      font-family: fonts.$title-text;
      font-weight: 600;
      font-style: normal;
      font-size: clamp(2.5rem, 5vw, 3.5rem);
      background: linear-gradient(colors.$neon-blue, colors.$star-white);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-bottom: 36px;
    }
  }
  &__text {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0 0.7rem;
    & > p {
      font-family: fonts.$normal-text;
      color: colors.$star-white;
      font-size: 2rem;
    }
  }
}

@media screen and (min-width: 600px) {
  .starfield {
    &__title {
      top: 35%;
      & > h1 {
        font-size: clamp(3.5rem, 5vw, 7rem);
      }
    }
    &__text {
      gap: 1rem;
      & > p {
        font-size: clamp(2rem, 5vw, 3rem);
      }
    }
  }
}